body {
  height: 5000px;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  margin-bottom: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.tab-header {
  border-bottom: 1px solid #dee2e6;
}
.tab-header a {
  display: inline-block;
  padding: 15px;
  background-color: #fff;
  position: relative;
  bottom: -1px;
  color: #007bff;
}
.tab-header a.active {
  border: 1px solid #dee2e6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-color: #fff;
  color: #000;
}
.tab-header a:hover {
  border: 1px solid #dee2e6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-body {
  margin-top: 30px;
  border: 1px solid #dee2e6;
  padding: 10px;
  border-radius: 5px;
}
.tab-body > div {
  display: none;
}
.tab-body > div.active {
  display: block;
}
